.shadow-right{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bold {
  font-weight: bold;
}

.gray{
  color: #78889B;
}

.profile-grid {
  display: grid;
  grid-template-columns: 24% 52% 24%;
}

.clr-orange {
  color: #FF7043;
  background-color: #FF7043;
}

.bg-tabs {
  --tw-bg-opacity: 1;
  background-color: rgb(234 238 246 / var(--tw-bg-opacity));
}

.MuiTabs-indicator .css-q63gn-MuiTabs-indicator {
  background-color: black;
  block-size: 1px;
}

.css-q63gn-MuiTabs-indicator {
  block-size: 3px;
}

.bg-soft {
  background-color: rgb(245 247 249 / 1);
}